//! **************************************************************************
// Written by: Map J.40 on Sun Apr 10 15:19:49 2022
//! **************************************************************************

SCHEMATIC START;
NET "iClk_BUFGP/IBUFG" BEL "iClk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
