//! **************************************************************************
// Written by: Map J.40 on Sun Apr 10 22:47:35 2022
//! **************************************************************************

SCHEMATIC START;
NET "iClock_BUFGP/IBUFG" BEL "iClock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
